
/* ========================================================================= */
/* HEADER */
/* ========================================================================= */

.header {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--bg-trasparent);
  border-bottom: 0.2rem solid var(--border-color); 
  position: fixed;
 
  
}

.interface {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 1rem;
}

.conteinner-top {
  display: flex;
  align-items: center;
}

.conteinner-logo {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
  line-height: 1.2;
}

.conteinner-logo > span {
  font-weight: bold;
}

.conteiner-nav-principal {
  display: flex; 
}

.icon-logTheme {
  display: flex;
  align-items: center;
}

#logTheme {
  font-size: 1.5rem;
  color: var(--primary-color);
  cursor: pointer;
  transition: ease-in-out 0.4s;
}

/* ========================================================================= */
/* NAVEGAÇÃO */
/* ========================================================================= */

/* Estilos de menu genérico para desktop e mobile */
.menu {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-link {
  text-decoration: none;
  font-weight: 500;
  color: var(--text-color); 
}

/* Estilos para o menu de navegação principal (desktop) */
.menu-principal {
  gap: 4rem;
}

/* Estilos para o menu mobile */
.nave-mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-bg-color);
  border-top: 0.2rem solid var(--border-color);
  z-index: 1000;
}

.menu-mobile {
  display: none;
  justify-content: space-around; 
  align-items: center;
  gap: 3rem; 
}

.menu-mobile .menu-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 0.1rem;
  color: var(--text-color); 
  text-align: center;
}

.menu-icon,
.menu-text {
  color: var(--text-color);
}

.menu-icon {
  font-size: 1.8rem;
}

.menu-text {
  text-transform: uppercase;
  font-size: 0.999rem;
}

/* Estilos de estado ativo e hover */
.menu-link.active .menu-icon,
.menu-link.active .menu-text,
.menu-link:hover .menu-icon,
.menu-link:hover .menu-text {
  color: var(--primary-color);
  font-weight: 600;
}

/* ========================================================================= */
/* HERO SECTION */
/* ========================================================================= */

.conteiner-hero {
  flex-direction: column; 
  gap: 1.5rem;
  padding: 2.5rem 1rem;
  align-items: center;
  justify-content: center;
}

.conteiner-hero-texto {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2.5rem 1rem;
  gap: 2rem;
}

.conteiner-hero-texto > h1 {
  font-size: 2.8rem;
  color: var(--text-color);
  text-align: center;
}

.conteiner-hero-texto > h1 > span {
  color: var(--primary-color);
}

.conteiner-hero-texto > p {
  color: var(--text-color);
  font-size: 1.8rem;
  text-align: justify;
}

.conteiner-hero-vidio {
  padding: 0.1rem 1.5rem;
  width: 100%; 

}

.conteiner-hero-vidio iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

.menu-social .bi {
  font-size: 2rem;
}

.btn {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  width: 100%;
  background-color: transparent;
  border-radius: 3.125rem;
  padding: 0.875rem 1rem;
  border: 1px solid var(--primary-color); 
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  
}

.btn:hover {
  box-shadow: 0px 0px 11px 0px rgba(155, 155, 155, 0.75);
  transform: scale(1.05);
  transition: ease-in-out .3s;
  border-color: var(--primary-color);
}

.btn span,
.btn i {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: var(--primary-color); 
}

/* ========================================================================= */
/* HABILIDADES SECTION */
/* ========================================================================= */


.conteiner-habilidades {
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: center;
}

.habilidades {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 6rem 1rem 2rem 1rem;
}

.habilidades h2 {
  font-size: 2.5rem;
  margin-top: 2rem;
}

.habilidades p {
  margin-top: 2rem;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: left;
}

.habilidades-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; 
  gap: 2rem;
 
}

.habilidades-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
  aspect-ratio: 1/1;
  border: 0.1rem solid var(--border-color);
  border-radius: 50%;
}

.habilidades-logo {
  width: 2.8rem;
  height: auto;

}
/* ========================================================================= */
/* PROJETOS SECTION */
/* ========================================================================= */
#projetos {
  padding: 6rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.card-projetos-texto {
  text-align: center;
}

.card-projetos-texto h2 {
  font-size: 2.5rem;
  color: var(--text-color);
  margin-bottom: 2rem;
  gap: 2rem;
}

.conteiner-projetos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
}

.card-projeto {
  display: flex;
  flex-direction: column; /* Estilo padrão para mobile (texto em cima, imagem embaixo) */
  background-color: var(--primary-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  overflow: hidden;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(112, 112, 112, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-projeto:hover {
  transform: scale(1.01);
  transition: ease-in-out .3s;
  box-shadow: 0px 0px 11px 0px rgba(155, 155, 155, 0.75);
}

.card-corver {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-habilidades-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap; /* Adicionado para evitar quebras de linha indesejadas */
}

.card-title {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.card-descrition {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.card-list {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 1.5rem;
}

.card-list li {
  color: var(--text-color);
  line-height: 1.5;
}

.card-buttun {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: auto; /* Empurra os botões para o final do card */
}

/* ========================================================================= */
/* SOBRE */
/* ========================================================================= */

.conteiner-sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6rem 1rem 2rem 1rem;
}

.card-sobre {
  display: flex;
  flex-direction: column; /* Padrão mobile: imagem e texto empilhados */
  background-color: var(--primary-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  overflow: hidden;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(112, 112, 112, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.carde-conteiner-sobre {
  display: flex;
  flex-direction: column; /* Padrão mobile: imagem e texto empilhados */
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.carde-conteiner-sobre img {
  width: 100%;
  max-width: 250px;
  border-radius: 50%;
  padding: 2rem;
}

.carde-sobre-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  gap: 2rem;
}

.carde-sobre-item h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.carde-sobre-item p {
  font-size: 1.5rem;
  text-align: left;
  color: var(--text-color);
}

.card-button {
  gap: 1rem;
  display: flex;

}

.btn-sobre {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  width: 100%;
  background-color: transparent;
  border-radius: 3.125rem;
  padding: 0.875rem 1rem;
  border: 1px solid var(--primary-color); 
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.btn-sobre:hover {
  box-shadow: 0px 0px 11px 0px rgba(155, 155, 155, 0.75);
  transform: scale(1.05);
  transition: ease-in-out .3s;
  border-color: var(--primary-color);
}

.btn-sobre span,
.btn-sobre i {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: var(--primary-color); 
}


/* ========================================================================= */
/* FORMAÇÃO */
/* ========================================================================= */
.formacao {
  display: flex;
  flex-direction: column; /* Organiza os cards em coluna por padrão (mobile) */
  justify-content: center;
  align-items: center; /* Centraliza a seção horizontalmente */
  padding: 2rem 1rem;
  margin-top: 2rem;
  gap: 2rem; /* Espaçamento entre os dois principais cards */
}

/* Contêiner principal para os títulos e cards */
.conteiner-formacao,
.card-formacao-cursos {
  width: 100%;
  max-width: 600px;
}

/* Estilo para o título da seção */
.conteiner-formacao > h2,
.card-formacao-cursos > h2 {
  font-size: 2.5rem;
  color: var(--text-color);
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Estilo para os cards de formação e seus textos */
.card-formacao {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card-formacao span {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
}

.card-formacao p {
  font-size: 1rem;
  color: var(--text-color);
  font-style: italic;
  margin-top: -0.5rem; /* Ajusta o espaçamento */
}

.card-icone-formacao {
  font-size: 1rem;
  color: var(--text-color);
  margin-top: -0.5rem;
}

.bi-u {
  font-size: 1.5rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}

/* Estilo para a lista de cursos */
.card-list-cursos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  list-style: none; 
  padding: 0;
}

.card-list-cursos li {
  background-color: var(--secondary-bg-color);
  border: 1px solid var(--border-color);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 0.9rem;
  color: var(--text-color);
}


/* ========================================================================= */
/* FOOTER */
/* ========================================================================= */

.footer {
  display: flex;
  flex-direction: column; /* Use flex-direction column para mobile-first */
  text-align: center;
  padding: 1rem;
  background-color: var(--background-color);
  color: var(--primary-color);
  font-size: 0.875rem;
  border-top: 1px solid var(--border-color);
  margin-top: 5rem;
  padding: 2rem;
}

/* ========================================================================= */
/* MEDIA QUERIES (DESKTOP) */
/* ========================================================================= */

@media screen and (min-width: 768px) {

  
  .btn {
    width: 30%;
  }

  .conteiner-hero {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }

  .habilidades p {
    width: 60%;
  }

  .conteiner-hero-vidio {
    justify-content: center;
    align-items: center;
    width: 80%;

  }
  
  .conteiner-projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  
  .card-projeto {
    flex-direction: row; 
    align-items: stretch;
    width: 100%; 
    max-width: 800px; 
    gap: 1.5rem; 
  }

  .card-corver {
    width: 40%; 
    max-width: 300px; 
    object-fit: cover; 
    margin-bottom: 0; 
  }

  .card-body {
    width: 60%; 
    padding-top: 0;
  }

   .card-body h3 {
    font-size: 3rem;
   }


  .card-buttun {
    justify-content: flex-start; 
    margin-top: auto; 
  }

  .conteiner-projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  .card-projeto {
    flex-direction: row; /* Layout padrão para desktop (imagem à esquerda) */
    align-items: stretch;
    width: 100%;
    max-width: 800px;
    gap: 1.5rem;
  }

  
  .card-projeto.card-reverse {
    flex-direction: row-reverse;
  }

  .card-corver {
    width: 40%;
    max-width: 300px;
    object-fit: cover;
    margin-bottom: 0;
  }

  .card-body {
    width: 60%;
    padding-top: 0;
  }

  .card-buttun {
    justify-content: flex-start;
    margin-top: auto;
  }

  .conteiner-sobre {
    padding: 6rem 1rem 2rem 1rem;
  }

  .conteiner-sobre {
    padding: 6rem 4rem 2rem 4rem;
  }

  .card-sobre {
    flex-direction: row; /* Desktop: imagem e texto lado a lado */
    align-items: center;
    max-width: 1000px;
  }

  .carde-conteiner-sobre {
    flex-direction: row; /* Desktop: imagem e texto lado a lado */
    gap: 4rem;
  }

  .carde-conteiner-sobre img {
    width: 250px;
    padding: 0;
  }

  .carde-sobre-item {
    text-align: left; /* Desktop: alinha texto à esquerda */
    align-items: flex-start;
  }

  .card-buttun {
    flex-direction: row; /* Desktop: botões lado a lado */
  }

  .formacao {
    flex-direction: row; /* Layout em linha (lado a lado) para desktop */
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
  }

  .conteiner-formacao > h2,
  .card-formacao-cursos > h2 {
    text-align: left;
  }
 
  
}

/* ========================================================================= */
/* MEDIA QUERIES (TABLET/MOBILE) */
/* ========================================================================= */

@media screen and (max-width: 767px) {

  .menu-mobile {
    display: flex;
  }

  .conteiner-nav-principal {
  display: none; 
}

  .btn {
    width: 50%;
  }

  .card-buttun {
    flex-direction: column;
    align-items: center;
  }
  .footer {
    font-size: 1.1rem;
    margin-top: 2rem;
    padding: 2rem 0;
  }
}


